@model VeloOnline.Models.ViewModels.ChangePasswordViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Change password for @Model.User.UserName</h2>
<form asp-action="ChangePassword" asp-controller="User" asp-antiforgery="true">
    <div asp-validation-summary="ModelOnly"></div>

    <div>
        <div>
            @Html.LabelFor(x => x.User.UserName, null, new { @class = "form-label" })
            @Html.TextBoxFor(x => x.User.UserName, null, new { @class = "form-control", @readonly = "readonly" })
        </div>

        <div>
            @Html.LabelFor(x => x.Password, null, new { @class = "form-label" })
            @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Password, null, new { @class = "text-danger m-2" })
        </div>

        <input type="submit" value="Save" class="btn btn-outline-primary w-50 " />
    </div>
</form>
